<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .auto-style1 {
            width: 197px;
        }

        
.table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #fff;
}

    </style>


</head>
<body>
 

    <center>
        <br />
        <div style="border-style: solid; border-width: 1px; border-color: #4f81bd; width: 806px;">
            <table class="table table-bordered">
                <tr>
                    <!--<td class="auto-style1">
                        <img align="left" style="margin-left:-2px" hspace="30px" vspace="10px" src="http://49.50.117.223:8080/staticResources/sites/all/themes/upsc/images/emblem-dark.png" alt="CWC Vigilance Department" />
                    </td>-->
                </tr>
               
            </table>
          <table id="tblMainTableAllotment" class="table table-bordered text-center">
              <tr>
                  <td>
                      <h2><u> Login  Details</u></h2>
                  </td>
              </tr>
              <tr>
                  <td class="text-left">
                      
                    <b>Dear  {DisplayName},</b>
                                       
                                    
                  </td>
              </tr>
              <tr>
                  <td>
                    <b>Your Login Name :<span style="color:blue;">{LoginName} </span></b>
                  </td>
                  </tr>
              <tr>
                   <td>                              
                                <b>Your Password :<span style="color:blue;">{Password}</span> </b>
                             </td>
              </tr>
              <tr>
                 
                       <td>                              
                           <b> <a href="http://49.50.87.108:8080/Login">Please Click Here to Login</a>  </b>
                             </td>
                  
              </tr>
              <tr>
                  <td>
                         
                        <div style="font-family: Verdana; font-size: 16px; font-weight: bold; border-top: solid 1px #4f81bd;
                            margin-top: 20px;">
                            NOTE:This is a system generated email, do not reply to this email id</div>
                        <div style="font-family: Verdana; font-size: 10px; margin-top: 5px; text-align:justify">
                            This communication contain Confedential or Priveleged information, and it is intended
                            solely for the individual or entity to whom it is originally addressed. Any disclosure,Copying,dessemination,
                            or any action taken in reliance to it by others ,other than the intended recipient
                            is strictly prohibited.
                        </div>
                    </td>
                  
              </tr>
          </table>

        </div>

        </center>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../JS/bootstrap.min.js"></script>
</body>
</html>
