<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../CSS/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style type="text/css">
        .auto-style1 {
            width: 197px;
        }


        .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
            border: 1px solid #fff;
        }
    </style>


</head>
<body>


    <center>
        <br />
        <div style="border-style: solid; border-width: 1px; border-color: #4f81bd; width: 806px;">
            <table>
                <tr>
                    <td>
                        <img align="left" hspace="10px" vspace="10px" src="https://cwceportal.com/InternalAudit/logo_transparent.png" alt="TANSIDCO" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin-top:10px; margin-left:95px; font-size:16px;font-family:Verdana; color:blue"><b>Complaint Management System</b></div>

                    </td>
                </tr>

            </table>
            <hr style="border:1px solid #4f81bd" />

            <table id="tblMainTableAllotment" class="table table-bordered text-center">
                <tr>
                    <td>
                        <h2><u>General Complaint Details</u></h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Complainy Name :<span style="color:blue;">{DisplayName}</span></b>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Complaint Type :<span style="color:blue;">{G}</span></b>
                    </td>
                </tr>

                <tr>
                    <td>
                        <b>Application Refno :<span style="color:blue;">{ApplicationRefNo} </span></b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Organization :<span style="color:blue;">{Organization}</span> </b>
                    </td>
                </tr>
                <tr>

                    <td>
                        <b>Details of Allegation:<span style="color:blue;">{DetailsOfAllegation}</span> </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Date of Complaint :<span style="color:blue;">{SubmitDate}</span> </b>
                    </td>

                </tr>

                <tr>
                    <td>
                        <b>Complainy Mobile No :<span style="color:blue;">{ComplainyMobileNo}</span> </b>
                    </td>

                </tr>

                <tr>
                    <td>
                        <b>Complainy Email-Id :<span style="color:blue;">{ComplainyEmailId}</span> </b>
                    </td>

                </tr>
                <tr>
                    <td>

                        <div style="font-family: Verdana; font-size: 16px; font-weight: bold; border-top: solid 1px #4f81bd;
                            margin-top: 20px;">
                            NOTE:This is a system generated email, do not reply to this email id
                        </div>
                        <div style="font-family: Verdana; font-size: 10px; margin-top: 5px; text-align:justify">
                            This communication contain Confedential or Priveleged information, and it is intended
                            solely for the individual or entity to whom it is originally addressed. Any disclosure,Copying,dessemination,
                            or any action taken in reliance to it by others ,other than the intended recipient
                            is strictly prohibited.
                        </div>
                    </td>

                </tr>
            </table>

        </div>

    </center>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../JS/bootstrap.min.js"></script>
</body>
</html>
