

<table class="table table-striped table-primary hover" id="datatablelist" style="width:100%">
    <thead>
        <tr>
            <td class="bg-primary"><strong>Date</strong></td>
            <td class="bg-primary"><strong>Title</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>11.11.2019</p>
            </td>
            <td><a target="_blank" href="Docs/circular_fin_1111119.pdf">Raising of bills for Warehousing &amp; Insurance Charges</a></td>
        </tr>
        <tr>
            <td>30.10.2019</td>
            <td><a target="_blank" href="Docs/GST%20Circular%2018_301019.pdf">GST circular 18</a></td>
        </tr>
        <tr>
            <td>24.10.2019</td>
            <td><a target="_blank" href="Docs/corrigendum%20to%20GST%20circular%2016_241019.pdf">Corrigendum to GST Circular - 16</a></td>
        </tr>
        <tr>
            <td>&#160;09.10.2019</td>
            <td><a target="_blank" href="Docs/modfic_fin_101019.pdf">&#160;Modification to Circular no CWC/MS-7/PRMCS/Admn./18-19&#160;</a></td>
        </tr>
        <tr>
            <td>09.10.2019</td>
            <td><a target="_blank" href="Docs/top_up_fin.pdf">Top-up scheme for group Medi-claim insurance policy for retired employees /spouse of deceased employees</a></span>&#160;</td>
        </tr>
        <tr>
            <td>09.10.2019</td>
            <td><a target="_blank" href="Docs/submis_fin_101019.pdf">Submission of annual contribution under PRMCS by retired employees /spouse od deceased employees</a></td>
        </tr>
        <tr>
            <td>09.10.2019</td>
            <td><a target="_blank" href="Docs/GST%20circular%2017_091019.pdf">GST Circular 17</a></td>
        </tr>
        <tr>
            <td>03.10.2019</td>
            <td><a target="_blank" href="Docs/changes%20in%20GST%20vide%20notification%20dt.%20%2001.10.19_031019.pdf">GST Circular 16</a></td>
        </tr>
        <tr>
            <td>04.09.2019</td>
            <td><a target="_blank" href="Docs/ins_cwc_040919.pdf">Insurance cover for warehouse building , depositor stock , CWC property and dead stock items stored in Warehouses/ ICD / CFS.</a></td>
        </tr>
        <tr>
            <td>02.08.2019</td>
            <td><a target="_blank" href="Docs/acc_dbt_020819.pdf">Acounting of debtors written off towards compensation to depositors on account of storage losses/ transit losses /damages</a></td>
        </tr>
        <tr>
            <td>01.07.2019</td>
            <td><a target="_blank" href="Docs/gstcir_010719.pdf">&#2332;&#2368;&#2319;&#2360;&#2335;&#2368; &#2346;&#2352;&#2367;&#2346;&#2340;&#2381;&#2352; -15</a></td>
        </tr>
        <tr>
            <td>
                <p>06.04.2019</p>
            </td>
            <td><a target="_blank" href="Docs/gst15.pdf">GST Circular 15</a></td>
        </tr>
        <tr>
            <td>05.04.2019</td>
            <td><a target="_blank" href="Docs/dues_cwc_050419.pdf">Monitoring of realisation of outstanding dues fro depositors.</a></td>
        </tr>
        <tr>
            <td>01.04.2019</td>
            <td><a target="_blank" href="Docs/debar_unversla_010419.pdf">Debarment of M/s Universal Sompo Insurance Co. Ltd from participating in bids&#160; for standard fire and special perils and other miscellaneous insurance policies for a period of two years</a></td>
        </tr>
        <tr>
            <td>21.02.2019</td>
            <td><a target="_blank" href="Docs/GST%20Ciccular%20no.%2012.pdf">GST Circular 12</a></td>
        </tr>
        <tr>
            <td>21.02.2019</td>
            <td><a target="_blank" href="Docs/GST%20Ciccular%20no.%2011%20ITC.pdf">GST Circular 11</a></td>
        </tr>
        <tr>
            <td>14.02.2019</td>
            <td><a target="_blank" href="Docs/TDS.pdf">TDS Certificate</a>&#160;under section 197 (1) of the Income Tax Act, 1961 for the financial year 2018-19.</td>
        </tr>
        <tr>
            <td>14.02.2019</td>
            <td><a target="_blank" href="Docs/TDS%20letter_140219.pdf">Certificate u/s 197 of Income tax Act, 1961 for deduction of TDS at lower rate of 5 % on Storage &amp; Warehousing Income u/s 1941 for FY - 2018-19</a></td>
        </tr>
        <tr>
            <td>04.01.2019</td>
            <td><a target="_blank" href="Docs/GST%20circular%2014_040119.pdf">GST Circular 14</a></td>
        </tr>
        <tr>
            <td>
                <p>26.11.2018</p>
            </td>
            <td><a target="_blank" href="Docs/gst_13_261118.pdf">GST Circular -13</a></td>
        </tr>
        <tr>
            <td>02.11.2018</td>
            <td><a target="_blank" href="Docs/pension_021118.pdf">Employer contribution to pension fund financial year 2017-18</a></td>
        </tr>
        <tr>
            <td>17.07.2018</td>
            <td><a target="_blank" href="Docs/circ_fin_170718.pdf">Provisional Employer Contribution towards Superannuation Benefits , leave Benefits and LTC for financial Year 2018-19.</a></td>
        </tr>
        <tr>
            <td>12.07.2018</td>
            <td><a target="_blank" href="Docs/GST%20FAQ%207%20-120718.pdf"><span style="font-size: small;">GST FAQ - 7</span></a></td>
        </tr>
        <tr>
            <td>28.05.2018</td>
            <td><a target="_blank" href="Docs/ac_GST_280518.pdf">Accounts and records to be maintained under GST</a></td>
        </tr>
        <tr>
            <td>06.04.2018</td>
            <td><a target="_blank" href="Docs/GST%20FAQ%206_060418.pdf">GST FAQ -6</a></td>
        </tr>
        <tr>
            <td>05.04.2018</td>
            <td><a target="_blank" href="Docs/cir_incometax_050418.pdf">Declaration of proposed investment for the financial year 2018-19 for the calculation of proportionate tax and systematic deduction from the salary.</a></td>
        </tr>
        <tr>
            <td>16.03.2018</td>
            <td><a target="_blank" href="Docs/circular_tax_160318.pdf">Display of Registration Certificate and Goods and Services Tax Identification number on the name Board&#160;</a></td>
        </tr>
        <tr>
            <td>08.03.2018</td>
            <td><a target="_blank" href="Docs/GST%20circular%2010.pdf" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;">GST Circular-10</a></td>
        </tr>
        <tr>
            <td>08.02.2018</td>
            <td><a target="_blank" href="Docs/GST%20circular%209.pdf">GST Circular -9</a>&#160; <a target="_blank" href="Docs/corregendum%20to%20GST%20circular%209.html">Corrigendum</a></td>
        </tr>
        <tr>
            <td>30.01.2018</td>
            <td><a target="_blank" href="Docs/GST%20FAQ%205%20_1_300118.pdf">&#160;GST FAQ 5</a></td>
        </tr>
        <tr>
            <td>29.01.2018</td>
            <td><a target="_blank" href="Docs/ewaybill_310118.pdf">&#160;E-Way Bill</a></td>
        </tr>
        <tr>
            <td>21.12.2017</td>
            <td><a target="_blank" href="Docs/circular_CWCSBICSP_2112117.pdf">Empanelment of State Bank of India for Corporate Salary Package.</a></td>
        </tr>
        <tr>
            <td>15.12.2017</td>
            <td><a target="_blank" href="Docs/GST_FAQ4_151217.pdf">GST FAQs-4</a></td>
        </tr>
        <tr>
            <td>21.11.2017</td>
            <td><a target="_blank" href="Docs/cir_1.pdf">Tax deduction on Payment of CPF accumulated balance under regulation 15 of CWC EPF Regulations ,1962</a></td>
        </tr>
        <tr>
            <td>01.11.2017</td>
            <td><a target="_blank" href="Docs/GST_FAQ3_01112017.pdf">GST FAQs-3</a></td>
        </tr>
        <tr>
            <td>17.10.2017</td>
            <td><a target="_blank" href="Docs/GST_cir_8_cofinddiv_171017.pdf">GST - Circular - 8&#160; (Changes in GST vide various notification 13.10.2017)</a></td>
        </tr>
        <tr>
            <td>17.10.2017</td>
            <td><a target="_blank" href="Docs/EC_to_pensionfund_cofindiv_171017.pdf">CIRCULAR - Employer Contribution to Pension fund for financial Year 2016-17</a></td>
        </tr>
        <tr>
            <td>12.10.2017</td>
            <td><a target="_blank" href="Docs/superann_cir.pdf">Transfer of RTI application to the Trust received by CWC related to Pension Scheme .</a></td>
        </tr>
        <tr>
            <td>12.10.2017</td>
            <td><a target="_blank" href="Docs/pensioncircular.pdf">Deposition of voluntary contribution through respective Salary Disbursing Units towards respective Pension Fund Account&#160;</a></td>
        </tr>
        <tr>
            <td>06.10.2017</td>
            <td><a target="_blank" href="Docs/pli_061017.pdf">Payment of Productivity Linked Incentive (PLI) for the financial year 2016-17</a></td>
        </tr>
        <tr>
            <td>29.09.2017</td>
            <td><a target="_blank" href="Docs/GST_cir_7_co_findiv_290917.pdf">GST Circular - 7&#160; (GST - Tax Deduction at source)&#160;</a></td>
        </tr>
        <tr>
            <td>19.09.2017</td>
            <td><a target="_blank" href="Docs/circular190917.pdf">Declaration of rate of interest on CPf accumulation for the Financial Year 2016-17</a></td>
        </tr>
        <tr>
            <td>14.09.2017</td>
            <td><a target="_blank" href="Docs/circular6_140917.pdf">Circular 6 -- Issuance of final slips for the Financial Year -2016-2017</a></td>
        </tr>
        <tr>
            <td>04.09.2017</td>
            <td><a target="_blank" href="Docs/Corri_2GST1_co_findiv_040917.pdf" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;">Corrigendum_II</a>&#160; &#160;GST Circular No.1</td>
        </tr>
        <tr>
            <td>25.08.2017</td>
            <td><a target="_blank" href="Docs/cpf_intrate_16_17_cofindiv_250717.pdf">Circular No.5 &#160; &#160;-- &#160; &#160;Declaration of rate of interest on CPF accumulation for the Financial Year 2016-2017.</a></td>
        </tr>
        <tr>
            <td>21.08.2017</td>
            <td><a target="_blank" href="Docs/FAQ%202.pdf">GST FAQs-2</a></td>
        </tr>
        <tr>
            <td>14.08.2017</td>
            <td><a target="_blank" href="Docs/GST_ircular_140817.pdf">GST Circular 6</a></td>
        </tr>
        <tr>
            <td>08.08.2017</td>
            <td><a target="_blank" href="Docs/gst_circu_080817.pdf">GST Circular 5</a></td>
        </tr>
        <tr>
            <td>25.07.2017</td>
            <td><a target="_blank" href="Docs/GSTno_reg_wise_250717.pdf">GST Number (GSTN) Region Wise</a></td>
        </tr>
        <tr>
            <td>21.07.2017</td>
            <td><a target="_blank" href="Docs/gst_circ4_210717.pdf">GST Circular 4</a></td>
        </tr>
        <tr>
            <td>14.07.2017</td>
            <td><a target="_blank" href="Docs/Acode_armo_rep_fin_140717.pdf">Accounting Code for Separate accounting of ARMO Repair and Upgradation ofwork .. reg.</a></td>
        </tr>
        <tr>
            <td>10.07.2017</td>
            <td><a target="_blank" href="Docs/FAQ%201.pdf">GST Frequently asked questions.</a></td>
        </tr>
        <tr>
            <td>06-07.2017</td>
            <td>
                <p><a target="_blank" href="Docs/GST_rates_varSer_cotax_060717.pdf">GST Rates of various services offered by Central Warehousing Corporation</a></p>
            </td>
        </tr>
        <tr>
            <td>05.07.2017</td>
            <td><a target="_blank" href="Docs/GST_RevCir_040717.pdf">Restructuring of Construction Cells, Warehouse, Training centre at Hapur and Guest Houses.</a></td>
        </tr>
        <tr>
            <td>03.07.2017</td>
            <td><a target="_blank" href="Docs/Ser_ccountingcode_gst_030717.pdf">GST&#160;<span style="color: #000000;">Service Accounting Code for various services</span></a></td>
        </tr>
        <tr>
            <td>03.07.2017</td>
            <td><a target="_blank" href="Docs/GST_Cir3_030717.pdf">GST Circular 3</a></td>
        </tr>
        <tr>
            <td>23.06.17</td>
            <td><a target="_blank" href="Docs/circ_3_cpf_230617.pdf">Submission of Nomination for CPF</a></td>
        </tr>
        <tr>
            <td>&#160;</td>
            <td><a target="_blank" href="Docs/circ4_cpf_230617.pdf">Allotment of CPF No. to the newly appointed employee of the Corporation</a></td>
        </tr>
        <tr>
            <td><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px;">22.06.2017</span></td>
            <td><a target="_blank" href="Docs/Cir2_GST_cofin_220617.pdf">GST CIRCULAR 2</a>&#160; &#160; &#160;<a target="_blank" href="Dsocs/Revised_ANX3_gst_cofin_270617.html"> </a><span style="color: #ff0000;"><a target="_blank" href="Docs/Revised_ANX3_gst_cofin_270617.pdf">&#160;(Revised annexure-III)</a>&#160; &#160; &#160; <a target="_blank" href="Docs/Corrigendum%20to%20GST%20Circular%202.pdf">&#160;Corrigendum</a></span></td>
        </tr>
        <tr>
            <td>15.06.2017</td>
            <td><a target="_blank" href="Docs/RegionaWise_GSTno_cofin_150617.pdf">List of Region Wise GST NUMBER (GSTN)&#160;</a></td>
        </tr>
        <tr>
            <td>15.06.2017</td>
            <td><a target="_blank" href="Docs/Circular1_GST_cofin_150617.pdf">GST CIRCULAR-1</a>&#160; <a target="_blank" href="Docs/Corrigendum%20to%20GST%20Circular%201%20(Accounitng%20head%20and%20entries)_021118.pdf">Corrigendum</a>&#160; &#160;<a target="_blank" href="Docs/Corri_2GST1_co_findiv_040917.pdf">Corrigendum_II</a></td>
        </tr>
        <tr>
            <td>12.06.2017</td>
            <td><a target="_blank" href="Docs/Circular_cpfWithdrawal_cocpf_130617.pdf">&#160;Forwarding of application for CPF withdrawal</a><br /></td>
        </tr>
        <tr>
            <td>12.06.2017</td>
            <td><a target="_blank" href="Docs/Circular_cpf_90percWD_cocpf_130617.pdf">Provision of upto 90% withdrwal of CPF before one year of retirement on superannuation.</a></td>
        </tr>
        <tr>
            <td>12.06.2017</td>
            <td><a target="_blank" href="Docs/CWC_EPF_regulations1962_updated_cocpf_120617.pdf">The Central Warehousing Corporation Employee&#8217;s Provident Fund Regulations, 1962 (updated upto 31 May 2017)</a></td>
        </tr>
        <tr>
            <td>12.05.2017</td>
            <td><a target="_blank" href="Docs/CIR_%20cpfFINALSETTLEMENT_CO_fin_120517.pdf">Procedure&#160; for CPF Final settelment</a></td>
        </tr>
        <tr>
            <td>01.05.2017</td>
            <td><a target="_blank" href="Docs/Accounts_cir1_cofindiv_010517.pdf">&#160;Circular # 1 (Instruction regarding Funds requisition)</a></td>
        </tr>
        <tr>
            <td>01.05.2017</td>
            <td><a target="_blank" href="Docs/Accounts_cir12_cofindiv_01517.pdf">&#160;Accounts Circular # 12 (Creation of supplier master and payments entries through supplier's)</a></td>
        </tr>
        <tr>
            <td>18.04.2017</td>
            <td>&#160;<a target="_blank" href="Docs/cir_payroll_fin_co_190417.pdf">Implementation of the payroll application of salary for the new Financial Year&#160; 2017-18</a>.</td>
        </tr>
        <tr>
            <td>17.04.2017</td>
            <td><a target="_blank" href="Docs/cir_payroll_fin_170417_200417.pdf">Employees investment declaration&#160; online.</a></td>
        </tr>
        <tr>
            <td>02.01.2017</td>
            <td><a target="_blank" href="Docs/cir_cpf_format_adv_fd_050117.pdf">Format for application for advance / Non-refundable withdrawal from CWC EPF Trust.</a></td>
        </tr>
        <tr>
            <td>29.12.2016</td>
            <td><a target="_blank" href="Docs/cir_pos_cashless_trans_fd_030117.pdf">Installation of POS machines and payment of petty claims in cash.</a></td>
        </tr>
        <tr>
            <td>15.2.2016</td>
            <td><a target="_blank" href="Docs/cir_fd_tex_161216.pdf">Certificate u/s 197/195 for deduction of TDS at lower rate (5%)on storage &amp; warehousing income u/s 1941 for FY 2016-17.</a></td>
        </tr>
        <tr>
            <td>23.11.2016</td>
            <td><a target="_blank" href="Docs/cir_cpf_payroll_fin_241116.pdf">Implementation of a new Payroll Application.</a></td>
        </tr>
        <tr>
            <td>06.10.2016</td>
            <td><a target="_blank" href="Docs/pension_cir_fin_div_co_101016.pdf">Employer Contribution to Pension Fund for Financial Year 2015-16</a></td>
        </tr>
        <tr>
            <td>19.09.2016</td>
            <td><a target="_blank" href="Docs/cir_cpf_fd_200117.pdf">Voluntary Contribution of CPF</a></td>
        </tr>
        <tr>
            <td>14.09.2016</td>
            <td><a target="_blank" href="Docs/cir_imp_payroll_fin_290916.pdf">Process of implementation of a new Payroll Application</a></td>
        </tr>
        <tr>
            <td>23.05.2016</td>
            <td><a target="_blank" href="Docs/cir_10_an_cls_fd_270516.pdf">Accounting Code for Krishi Kalyan Cess.</a></td>
        </tr>
        <tr>
            <td>28.04.2016</td>
            <td><a target="_blank" href="Docs/cir_fd_9a_280416.pdf">Accounting for Death Compensation&#160;&#160;</a>&#160;&#160;&#160;<a target="_blank" href="Docs/cir_fd_9_080416.pdf"> Circular 9 dated 08/04/2016</a></td>
        </tr>
        <tr>
            <td>31.03.2016</td>
            <td><a target="_blank" href="Docs/cir_91_fd_srv_tex_2115_310316.pdf">Applicability of Service Tax on payment of establishment charges to Custom Staff under Reverse Charge Mechanism.</a></td>
        </tr>
        <tr>
            <td>31.03.2016</td>
            <td><a target="_blank" href="Docs/cir_90_fd_srv_tex_2113_310316.pdf">Chargeability of Service Tax on Charges for Container Rail Operation</a></td>
        </tr>
        <tr>
            <td>11.03.2016</td>
            <td><a target="_blank" href="Docs/cir_89_fd_srv_tex_1103_210316.pdf">Change in the service tax provisions as per Finance Bill, 2016.</a></td>
        </tr>
        <tr>
            <td>01.12.2015</td>
            <td><a target="_blank" href="Docs/cir_fd_sv_bhart_cess_ser_tax_011215.pdf">Accounting code for Swachh Bharat Cess.&#160;</a></td>
        </tr>
        <tr>
            <td>10.11.2015</td>
            <td><a target="_blank" href="Docs/cir_88_fd_srv_tex_101115.pdf">Levy of Swachh Bharat Cess@@ 0.5% of value of taxable services&#160; </a></td>
        </tr>
        <tr>
            <td>13.10.2015</td>
            <td><a target="_blank" href="Docs/fd_compilation_ac_cir_07_131015.pdf">Accounting for Provision of Employee benifits</a></td>
        </tr>
        <tr>
            <td>28.08.2015</td>
            <td><a target="_blank" href="Docs/cir_87_fd_srv_tex_280815.pdf">Availing Service Tax Abatement for Transportation (By Road) under category of GTA at CFS/ICDs.</a></td>
        </tr>
        <tr>
            <td>24.07.2015</td>
            <td><a target="_blank" href="Docs/cir_fd_tex_270715.pdf">Certificate u/s 197 for deduction of TDS at lower rate on storage &amp; warehousing income u/s 1941 for FY 2015-16.</a></td>
        </tr>
        <tr>
            <td>30.06.2015</td>
            <td><a target="_blank" href="Docs/fd_ser_tax_it_cir_35_010715.pdf">Non deducyion of TDS on Service Tax Portion shown separately.</a></td>
        </tr>
        <tr>
            <td>25.06.2015</td>
            <td><a target="_blank" href="Docs/fd_ser_tax_cir_86_250615.pdf">CENVAT CREDIT Rules 2004</a></td>
        </tr>
        <tr>
            <td>09.06.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_compilation_laptop_co_090615.pdf">Accounting for Provision of Laptop to the officers of the corporation.</a></td>
        </tr>
        <tr>
            <td>01.05.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_an_closing_co_060515.pdf">Accounting for writing back of Provisions for Expenses/Liabilities created in earlier years.</a></td>
        </tr>
        <tr>
            <td>13.04.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_depreciation_co_080515.pdf">Accounting Policy, classification and depreciation on fixed assets.</a></td>
        </tr>
        <tr>
            <td>31.03.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_ser_tax_co_230514.pdf">Chargeability of Service Tax on Charges for Container Rail Operations.</a></td>
        </tr>
        <tr>
            <td>25.03.2015</td>
            <td><a target="_blank" href="Docs/cir_account_03_fin_co_250315.pdf">Introduction of New Accounting Policies/Amendment in existing accounting polices and their impact on accounts of the year 2014-15</a></td>
        </tr>
        <tr>
            <td>09.03.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_account_consumable_co_100315.pdf">Classification of expenses and treatment of Consumable items.</a></td>
        </tr>
        <tr>
            <td>09.03.2015</td>
            <td><a target="_blank" href="Docs/fd_cir_account_mas_loan_tax_co_100315.pdf">Treatment for recovery of principal &amp;interest on loan under Marriage Assistance Scheme.</a></td>
        </tr>
        <tr>
            <td>09.03.2015</td>
            <td><a target="_blank" href="Docs/cir_84_fin_co_090315.pdf">Changes in the Service Tax Provisions as per Finance Bill, 2015.</a></td>
        </tr>
        <tr>
            <td>31.12.2015</td>
            <td><a target="_blank" href="Docs/Letter_fd_TDS_fin_010115.html">Certificate u/s 197 for deduction of TDS at lower rate on storage &amp; warehousing income u/s 1941 for FY 2014-15.</a>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; <a target="_blank" href="Docs/cert_fd_TDS_fin_010115.pdf">Certificate</a><br /></td>
        </tr>
        <tr>
            <td>14.10.2014</td>
            <td><a target="_blank" href="Docs/cir_83_201014.pdf">Availment of CENVAT Credit (Rule 6 of CENVAT Credit Rules, 2004)</a></td>
        </tr>
        <tr>
            <td>29.08.2014</td>
            <td><a target="_blank" href="Docs/serv_tax_cir_81.pdf">Effective date of amendment in Negative List via Fiance Act 2014.</a></td>
        </tr>
        <tr>
            <td>18.07.2014</td>
            <td><a target="_blank" href="Docs/changes_servicetax_financebill_fin_div_220714.pdf">Changes in the Service Tax Provisions as per Finance Bill, 2014</a></td>
        </tr>
        <tr>
            <td>18.03.2014</td>
            <td><a target="_blank" href="Docs/cir_fin_210314.pdf">Service Tax on Handling &amp; Transportation service on the Rice for the period 01.07.2012 to 16.02.2014</a></td>
        </tr>
        <tr>
            <td>17.02.2014</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/serv_tax_78_170214.pdf">Chargeability of&#160; Service Tax on Storage and Cargo Handling of Rice.</a></td>
        </tr>
        <tr>
            <td>23.12.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/serv_tax_cir_77.pdf">Applicability of Service Tax on Construction of Warehouse for Storage of Agricultural Produce.</a></td>
        </tr>
        <tr>
            <td>17.12.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/serv_tax_cir_76.pdf">Chargeability&#160; and Deposit of Service Tax on Storage and Cargo Handling of Rice w.e.f 01.07.2012.</a></td>
        </tr>
        <tr>
            <td>28.11.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/ser_tax_cir_75_291113.pdf">Amendment in Rule 6(2) of Service Tax Rule, 1994.</a><br /></td>
        </tr>
        <tr>
            <td>27.11.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/ser_tax_cir_74_291113.pdf">Amendment in Service Tax Registration Certificate by Construction Cell as Input Service Distributor.</a></td>
        </tr>
        <tr>
            <td>11.10.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/serv_tax_cir_73.pdf">Clarification with regard to applicability of Service Tax on Storage &amp; Handling of Seeds.</a></td>
        </tr>
        <tr>
            <td>31.10.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/ser_tax_cir_72_311013.pdf">Implications of Service Tax under different clauses in H&amp;T Contracts.</a></td>
        </tr>
        <tr>
            <td>29.10.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/ser_tax_71_291013.pdf">Frequently asked questions with regard to service tax provisions.</a></td>
        </tr>
        <tr>
            <td>06.09.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/cler_tax_service_fin_170913.pdf">Clarification on Deduction of Tax at source on Service Tax component u/s 194 of the Income Tax Act.</a></td>
        </tr>
        <tr>
            <td>13.08.2013</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/fin_tds_cir_230813.pdf">Collection of TDS certificate and obtaining credit in 26AS</a></td>
        </tr>
        <tr>
            <td>18.06.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/service_tax_cir_70_180613.pdf">Chargeability of Service Tax on Casual Labour supplied by Handling &amp; Transport Contractor</a></td>
        </tr>
        <tr>
            <td>31.05.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/pan_fin_cwc_co_040613.pdf">Compulsory quoting of PAN and Service Tax Registration Number</a></td>
        </tr>
        <tr>
            <td>10.04.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c69_service_tax_100413.pdf">Availment &amp; utilisation of CENVAT Credit in respect of Expenditure incurred by CCs on ARMO &amp; special repairs on behalf of ROs. </a></td>
        </tr>
        <tr>
            <td>05.04.2013</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c68_service_tax.pdf">Clarifications with regard to applicability of Service Tax on payment of establishment charges to custom staff under Reverse Charge Mechanism.</a></td>
        </tr>
        <tr>
            <td>29.11.2012</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/c66_service_tax.pdf">Restoration of Service Specific Accounting Codes for payment of Service Tax.</a> <a target="_blank" href="Docs/c66_service_tax_anex_.pdf">Annexure</a></td>
        </tr>
        <tr>
            <td>16.11.2012</td>
            <td style="text-align: left;"><a target="_blank" href="Docs/c65_service_tax.pdf">Tender Clause relating to Service Tax on Schedule of Rates(SORs)</a>,&#160;&#160; <a target="_blank" href="Docs/c65_service_tax_anex_290113.pdf">Other terms and condition</a></td>
        </tr>
        <tr>
            <td>16.10.2012</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c64_service%20tax.pdf">Submission of Quarterly Service Tax Return</a></td>
        </tr>
        <tr>
            <td>11.10.2012</td>
            <td style="text-align: justify;"><span style="font-family: Tahoma; color: #333333; font-size: 9pt;"><a target="_blank" href="Docs/ser_tex_rice_fci_121112.html">Changeability of Service Tax on the Storage and Handling of Rice stored by FCI and other Govt.Agencies.</a></span></td>
        </tr>
        <tr>
            <td>18.09.2012</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c62_service%20tax.pdf">Frequently Asked Questions with regards to Changes in&#160;Service Tax.</a></td>
        </tr>
        <tr>
            <td>18.09.2012</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c61_service%20tax.pdf">Changes in&#160;Service Tax Provision&#160;through Finance Act, 2012 affecting Construction Activities.</a></td>
        </tr>
        <tr>
            <td>&#160;09.08.2012</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c60_service%20tax.pdf">Amendments in Service Tax Laws through Finance Act, 2012</a></td>
        </tr>
        <tr>
            <td>27.04.2012</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/it_c22.pdf">Issuance of TDS Certificate in Form No. 16A downloaded from TIN Website mandatory for all Assessees</a></td>
        </tr>
        <tr>
            <td>21.09.2011</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c47_service%20tax.pdf">Implementation of Point of Taxation Rule, 2011</a>.</td>
        </tr>
        <tr>
            <td>17.08.2011</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/it-16.pdf">Taxability of Employees in the year of Superannuation.</a></td>
        </tr>
        <tr>
            <td>11.07.2011</td>
            <td style="text-align: justify;"><a target="_blank" href="Docs/c44_service%20tax.pdf">Implementation of Point Oof Taxation oRule, 2011</a></td>
        </tr>
    </tbody>
</table>



<script src="~/CssJs/dtjs.js"></script>

<script>
   
    var url = '@Url.Action("ViewDocument", "CWCCuricullum")'
    var IsEmployee = '@ViewBag.IsEmployee';
    $("td").find("a").each(function () {
        @*@{

                    var @EncodedURL = CWC_CMS.Models.CommonDAL.EncodeString($(this).attr("href"));
                }*@
        $(this).attr("href", window.btoa($(this).attr("href")))


        $(this).on('click', function (event) {
            if (IsEmployee == "Yes") {
                event.preventDefault();
                $('#DocumentDiv').load(url, { EncryptedString: $(this).attr("href")})
                //window.location.href = "/CWCCuricullum/ViewDocument?EncryptedString=" + $(this).attr("href")
                        return true;
                    }
                    else {
                        alert('You are not authenticated to View this document');
                        return false;
                    }
                });
    });



    @*function SecurityCheck(RedirectingLink) {

        if ('@ViewBag.IsEmployee' == "Yes") {

        }
    }*@
</script>
