

<table class="table table-striped table-primary hover" id="datatablelist" style="width:100%">
    <thead>

        <tr>
            <td class="bg-primary"><strong><span style="font-size: medium;">Sr. No. &#160;</span></strong></td>
            <td class="bg-primary"><strong><span style="font-size: medium;">Subject&#160;</span>&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td><a target="_blank" href="Docs/cir_pub_policy_pub_div_210415.pdf">Advertisement and Publicity Policy&#160;</a>&#160;&#160;&#160;&#160;&#160;<a target="_blank" href="Docs/Brochure_cwc_eng_pub_280116.html"> Brochure (English)</a>&#160;&#160;&#160;&#160;&#160;&#160; &#160; <a target="_blank" href="Docs/Brochure_cwc_hindi_pub_280116.html">Brochure (Hindi)</a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td><a target="_blank" href="Docs/pm_letter_minst_budget_030615.pdf">Letters of the Hon'ble Prime Minister on the budget</a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td><a target="_blank" href="Docs/mob_app_gri_pmo_mofpd_090216.pdf">Launch of Mobile App for facilitating easy lodging of a grievance by an aggrieved citizen. </a></td>
        </tr>
    </tbody>
</table>
<script src="~/CssJs/dtjs.js"></script>
<script>
   
    var url = '@Url.Action("ViewDocument", "CWCCuricullum")'
    var IsEmployee = '@ViewBag.IsEmployee';
    $("td").find("a").each(function () {
        @*@{

                    var @EncodedURL = CWC_CMS.Models.CommonDAL.EncodeString($(this).attr("href"));
                }*@
        $(this).attr("href", window.btoa($(this).attr("href")))


        $(this).on('click', function (event) {
            if (IsEmployee == "Yes") {
                event.preventDefault();
                $('#DocumentDiv').load(url, { EncryptedString: $(this).attr("href")})
                //window.location.href = "/CWCCuricullum/ViewDocument?EncryptedString=" + $(this).attr("href")
                        return true;
                    }
                    else {
                        alert('You are not authenticated to View this document');
                        return false;
                    }
                });
    });



    @*function SecurityCheck(RedirectingLink) {

        if ('@ViewBag.IsEmployee' == "Yes") {

        }
    }*@
</script>
