<table class="table table-striped table-primary hover" id="datatablelist" style="width:100%">
    <thead>
        <tr>
            <td class="bg-primary"><strong>Date</strong></td>
            <td class="bg-primary"><strong>Title</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>20.03.2019</td>
            <td><span><a target="_blank" href="Docs/Form%20for%20appointment%20of%20Polling%20Agent.pdf">Form for appointment of Polling Agent</a></span></td>
        </tr>
        <tr>
            <td>20.03.2019</td>
            <td><span><a target="_blank" href="Docs/Form%20for%20appointment%20of%20Counting%20Agent.pdf">Form for appointment of Counting Agent</a></span></td>
        </tr>
        <tr>
            <td>19.03.2019</td>
            <td>
                <p><span>All India Sample Ballot Papers</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>1.&#160;<a target="_blank" href="Docs/All%20India%20Ahmedabad.pdf">RO Ahmedabad&#160;</a>&#160;&#160;2.&#160;<a target="_blank" href="Docs/All%20India%20Bangalore.pdf">RO Banglore&#160;</a>&#160;&#160;3.&#160;<a target="_blank" href="Docs/All%20India%20Bhopal.pdf">RO Bhopal</a>&#160;&#160;&#160;4.&#160;<a target="_blank" href="Docs/All%20India%20Bhubaneswar.pdf">RO Bhubaneswar</a>&#160; &#160;5.&#160;<a target="_blank" href="Docs/All%20India%20Chandigarh.pdf">RO Chandigarh&#160;</a>&#160;&#160;6.&#160;<a target="_blank" href="Docs/All%20India%20Chennai.pdf">RO Chennai&#160;</a>&#160;&#160;</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;</span><span>7.&#160;<a target="_blank" href="Docs/All%20India%20Delhi.pdf">RO Delhi</a>&#160;&#160;8.&#160;<a target="_blank" href="Docs/All%20India%20Guwahati.pdf">RO Guwahati&#160;</a>&#160;&#160;9.&#160;<a target="_blank" href="Docs/All%20India%20Hyderabad.pdf">RO Hyderabad</a>&#160; &#160;</span><span>10.&#160;<a target="_blank" href="Docs/All%20India%20Jaipur.pdf">RO Jaipur</a>&#160;&#160;&#160;11.&#160;<a target="_blank" href="Docs/All%20India%20Kochi.pdf">RO Kochi</a>&#160;&#160;&#160;12.&#160;<a target="_blank" href="Docs/All%20India%20Kolkata.pdf">RO Kolkata&#160;&#160;</a>&#160;13.&#160;<a target="_blank" href="Docs/All%20India%20Lucknow.pdf">RO Lucknow&#160;</a></span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;14.&#160;<a target="_blank" href="Docs/All%20India%20Mumbai.pdf">RO Mumbai</a>&#160;15.&#160;<a target="_blank" href="Docs/All%20India%20Patna.pdf">RO Patna&#160;</a> &#160;16.&#160;<a target="_blank" href="Docs/All%20India%20CO.pdf">CO Delhi</a>&#160;&#160;</span></p>
            </td>
        </tr>
        <tr>
            <td>19.03.2019</td>
            <td>
                <p><span>Regional Sample Ballot Papers</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>1.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Ahmedabad.pdf">RO Ahmedabad&#160;</a>&#160;&#160;2.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Bangalore.pdf">RO Banglore&#160;&#160;</a>&#160;3.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Bhopal.pdf">RO Bhopal</a>&#160;&#160;&#160;4.&#160;<a target="_blank" href="Docs/Ballot%20Paper%20Bhubaneswar.pdf">RO Bhubaneswar&#160;</a> &#160;5.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Chandigarh.pdf">RO Chandigarh</a>&#160;&#160;&#160;6.<a target="_blank" href="Docs/Ballot%20paper%20Chennai.pdf">&#160;RO Chennai&#160;&#160;</a>&#160;</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;</span><span>7.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Delhi.pdf">RO Delhi</a>&#160;&#160;8.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Guwahati.pdf">RO Guwahati</a>&#160;&#160;&#160;9.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Hyderabad.pdf">RO Hyderabad</a>&#160; &#160;</span><span>10.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Jaipur.pdf">RO Jaipur&#160;</a>&#160;&#160;11.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Kochi.pdf">RO Kochi</a>&#160;&#160;&#160;12.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Kolkata.pdf">RO Kolkata</a>&#160;&#160;&#160;13.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Lucknow.pdf">RO Lucknow</a>&#160;</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;14.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Mumbai.pdf">RO Mumbai</a>&#160;15.&#160;<a target="_blank" href="Docs/Ballot%20paper%20Patna.pdf">RO Patna</a>&#160; &#160;16.&#160;<a target="_blank" href="Docs/Ballot%20paper%20CO.pdf">CO Delhi&#160;</a>&#160;</span></p>
            </td>
        </tr>
        <tr>
            <td>14.03.2019</td>
            <td>
                <p><span>Final Nominations with allotted symbols</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>1.&#160;<a target="_blank" href="Docs/AHMEDABAD2.pdf">RO Ahmedabad</a>&#160;&#160;&#160;2.&#160;<a target="_blank" href="Docs/BANGALORE2.pdf">RO Banglore&#160;</a>&#160;&#160;3.&#160;<a target="_blank" href="Docs/BHOPAL2.pdf">RO Bhopal</a>&#160;&#160;&#160;4.&#160;<a target="_blank" href="Docs/BHUBANESWAR2.pdf">RO Bhubaneswar</a>&#160; &#160;5.&#160;<a target="_blank" href="Docs/CHANDIGARH2.pdf">RO Chandigarh</a>&#160;&#160;&#160;6.&#160;<a target="_blank" href="Docs/CHENNAI2.pdf">RO Chennai&#160;</a>&#160;&#160;</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;</span><span>7.&#160;<a target="_blank" href="Docs/DELHI2.pdf">RO Delhi</a>&#160;&#160;8.&#160;<a target="_blank" href="Docs/GUWAHATI2.pdf">RO Guwahati&#160;</a>&#160;&#160;9.&#160;<a target="_blank" href="Docs/HYDERABAD2.pdf">RO Hyderabad</a>&#160; &#160;</span><span>10.&#160;<a target="_blank" href="Docs/JAIPUR2.pdf">RO Jaipur</a>&#160;&#160;&#160;11.&#160;<a target="_blank" href="Docs/KOCHI2.pdf">RO Kochi</a>&#160;&#160;&#160;12.<a target="_blank" href="Docs/KOLKATA2.pdf">&#160;RO Kolkata</a>&#160;&#160;&#160;13.&#160;<a target="_blank" href="Docs/LUCKNOW2.pdf">RO Lucknow</a>&#160;</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>&#160;14.&#160;<a target="_blank" href="Docs/MUMBAI2.pdf">RO Mumbai</a>&#160;15.&#160;<a target="_blank" href="Docs/PATNA2.pdf">RO Patna</a>&#160; &#160;16.&#160;<a target="_blank" href="Docs/CORPORATE%20OFFICE2.pdf">CO Delhi</a>&#160; &#160;17.&#160;<a target="_blank" href="Docs/ALL%20INDIA2.pdf">All India</a></span></p>
            </td>
        </tr>
        <tr>
            <td>12.03.2019</td>
            <td>
                <p>Valid Nominations</p>
                <p><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">1.<a target="_blank" href="Docs/AHMEDABAD1.pdf">&#160;RO Ahmedabad&#160; </a>&#160;2.&#160;<a target="_blank" href="Docs/BANGALORE1.pdf">RO Banglore</a>&#160;&#160;&#160;3.&#160;<a target="_blank" href="Docs/BHOPAL1.pdf">RO Bhopal&#160;</a> &#160;4.&#160;<a target="_blank" href="Docs/BBSR1.pdf">RO Bhubaneswar</a>&#160; &#160;5.&#160;<a target="_blank" href="Docs/CHANDIGARH1.pdf">RO Chandigarh&#160;</a> &#160;6.&#160;<a target="_blank" href="Docs/CHENNAI1.pdf">RO Chennai&#160;</a>&#160;&#160;</span></p>
                <p><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">&#160;</span><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">7.&#160;<a target="_blank" href="Docs/DELHI1.pdf">RO Delhi</a>&#160;&#160;8.<a target="_blank" href="Docs/GUWAHATI1.pdf">&#160;RO Guwahati&#160;</a>&#160;&#160;9.&#160;<a target="_blank" href="Docs/HYDERABAD1.pdf">RO Hyderabad</a>&#160; &#160;</span><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">10.&#160;<a target="_blank" href="Docs/JAIPUR1.pdf">RO Jaipur</a>&#160;&#160;&#160;11.&#160;<a target="_blank" href="Docs/KOCHI1.pdf">RO Kochi&#160;</a> &#160;12.&#160;<a target="_blank" href="Docs/KOLKATA1.pdf">RO Kolkata</a>&#160;&#160;&#160;13.&#160;<a target="_blank" href="Docs/LUCKNOW1.pdf">RO Lucknow&#160; </a></span></p>
                <p><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">&#160;14.&#160;<a target="_blank" href="Docs/MUMBAI1.pdf">RO Mumbai</a>&#160;15.&#160;<a target="_blank" href="Docs/PATNA1.pdf">RO Patna</a>&#160; &#160;16.&#160;<a target="_blank" href="Docs/CORPORATE%20OFFICE1.pdf">CO Delhi</a>&#160; &#160;17. <a target="_blank" href="Docs/ALL%20INDIA1.pdf">All India</a></span></p>
            </td>
        </tr>
        <tr>
            <td><span>07.03.2019</span></td>
            <td><span><a target="_blank" href="Docs/Filing%20of%20Nominations_070319.pdf">Filing of nomination/clarification</a></span></td>
        </tr>
        <tr>
            <td>&#160;<span>06.03.2019</span></td>
            <td><span><a target="_blank" href="Docs/Proforma%20for%20Nomination.pdf">Proforma for Nomination</a></span></td>
        </tr>
        <tr>
            <td><span>&#160;06.03.2019</span></td>
            <td><a target="_blank" href="Docs/Probable%20Election%20Symbols.pdf"><span>&#160;Probable Election Symbols</span></a></td>
        </tr>
        <tr>
            <td>06.03.2019</td>
            <td>
                <p><span>Final voter list</span></p>
                <p><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">1.<a target="_blank" href="Docs/Voter%20List%20Ahmedabad%20Region.pdf"> RO Ahmedabad</a>&#160; &#160;2. <a target="_blank" href="Docs/Voter%20List%20Bangalore%20Region.pdf">RO Banglore</a>&#160;&#160;&#160;3. <a target="_blank" href="Docs/Voter%20List%20Bhopal%20Region.pdf">RO Bhopal</a>&#160; &#160;4. <a target="_blank" href="Docs/Voter%20List%20Bhubaneswar.pdf">RO Bhubaneswar</a>&#160; &#160;5. <a target="_blank" href="Docs/Voter%20List%20Chandigarh%20Region.pdf">RO Chandigarh</a>&#160; &#160;6. <a target="_blank" href="Docs/Voter%20List%20Chennai%20Region.pdf">RO Chennai</a>&#160; &#160;7. <a target="_blank" href="Docs/Voter%20List%20Delhi%20Region.pdf">RO Delhi</a>&#160;&#160;8. <a target="_blank" href="Docs/Voter%20List%20Guwahati%20Region.pdf">RO Guwahati&#160;</a>&#160;&#160;9. <a target="_blank" href="Docs/Voter%20List%20Hyderabad%20Region.pdf">RO Hyderabad</a>&#160; &#160;</span><span style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;">10. <a target="_blank" href="Docs/Voter%20List%20Jaipur%20Region.pdf">RO Jaipur</a>&#160;&#160;&#160;11. <a target="_blank" href="Docs/Voter%20List%20Kochi%20Region.pdf">RO Kochi</a>&#160; &#160;12. <a target="_blank" href="Docs/Voter%20List%20Kolkata%20Region.pdf">RO Kolkata</a>&#160;&#160;&#160;13. <a target="_blank" href="Docs/Voter%20List%20Lucknow%20Region.pdf">RO Lucknow</a>&#160; &#160;14. <a target="_blank" href="Docs/Voter%20List%20of%20Mumbai%20Region.pdf">RO Mumbai</a>&#160;15. <a target="_blank" href="Docs/Voter%20List%20of%20Patna%20Region.pdf">RO Patna</a>&#160; &#160;16. <a target="_blank" href="Docs/Voter%20List%20Corporate%20Office.pdf">CO Delhi</a></span></p>
            </td>
        </tr>
        <tr>
            <td>27.02.2019</td>
            <td><a target="_blank" href="Docs/Notification%20for%20finalization%20of%20Voter%20Lists.pdf" style="color: #0000cc; text-decoration-line: underline; font-family: Verdana, Arial, Helvetica, sans-serif;">Notification for finalization of Voter Lists</a><br /></td>
        </tr>
        <tr>
            <td>27.02.2019</td>
            <td><a target="_blank" href="Docs/Notification%20dated%2026.02.2019%20of%20Returning%20Officer.pdf" style="font-family: Verdana, Arial, Helvetica, sans-serif;">Notification dated 26.02.2019 of Returning Officer</a><br /></td>
        </tr>
        <tr>
            <td>27.02.2019</td>
            <td><a target="_blank" href="Docs/Nodal%20Officers%20List.pdf" style="font-family: Verdana, Arial, Helvetica, sans-serif;">Nodal Officers List</a><br /></td>
        </tr>
        <tr>
            <td>&#160;27.02.2019</td>
            <td>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span>Voter List</span></p>
                <p style="color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif;"><span><a target="_blank" href="Docs/Voter%20List%20RO%20Ahmedabad.pdf">1. RO Ahmedabad</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Bangalore.pdf">2. RO Banglore&#160;</a>&#160;&#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Bhopal.pdf">3. RO Bhopal</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Bhubaneswar.pdf">4. RO Bhubaneswar</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Chandigarh.pdf">5. RO Chandigarh</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Chennai.pdf">6. RO Chennai</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Delhi.pdf">7. RO Delhi</a>&#160;&#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Guwahati.pdf">8. RO Guwahati&#160;</a>&#160;&#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Hyderabad.pdf">9. RO Hyderabad</a>&#160; &#160;</span><span><a target="_blank" href="Docs/Voter%20List%20RO%20Jaipur.pdf">10. RO Jaipur&#160;</a>&#160;&#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Kochi.pdf">11. RO Kochi</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Kolkata.pdf">12. RO Kolkata&#160;</a>&#160;&#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Lucknow.pdf">13. RO Lucknow</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20RO%20Mumbai.pdf">14. RO Mumbai&#160;</a><a target="_blank" href="Docs/Voter%20List%20RO%20Patna.pdf">15. RO Patna</a>&#160; &#160;<a target="_blank" href="Docs/Voter%20List%20Corporate%20Office%2c%20New%20Delhi.pdf">16. CO Delhi</a></span></p>
            </td>
        </tr>
    </tbody>
</table>
</table>


<script src="~/CssJs/dtjs.js"></script>

<script>
   
    var url = '@Url.Action("ViewDocument", "CWCCuricullum")'
    var IsEmployee = '@ViewBag.IsEmployee';
    $("td").find("a").each(function () {
        @*@{

                    var @EncodedURL = CWC_CMS.Models.CommonDAL.EncodeString($(this).attr("href"));
                }*@
        $(this).attr("href", window.btoa($(this).attr("href")))


        $(this).on('click', function (event) {
            if (IsEmployee == "Yes") {
                event.preventDefault();
                $('#DocumentDiv').load(url, { EncryptedString: $(this).attr("href")})
                //window.location.href = "/CWCCuricullum/ViewDocument?EncryptedString=" + $(this).attr("href")
                        return true;
                    }
                    else {
                        alert('You are not authenticated to View this document');
                        return false;
                    }
                });
    });



    @*function SecurityCheck(RedirectingLink) {

        if ('@ViewBag.IsEmployee' == "Yes") {

        }
    }*@
</script>
