<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="myvar" value="myvalue"/>
  <targets>
    <target name="db"
          xsi:type="Database"
          connectionString="server=localhost;Database=cwc1;user id=root;password=Google@123"
          commandType="StoredProcedure"
          commandText="[dbo].[InsertException]">
      <parameter name="p_machineName"    layout="${machinename}" />
      <parameter name="p_logged"         layout="${date}" />
      <parameter name="p_level"          layout="${level}" />
      <parameter name="p_message"        layout="${message}" />
      <parameter name="p_logger"         layout="${logger}" />
      <parameter name="p_properties"     layout="${all-event-properties:separator=|}" />
      <parameter name="p_callsite"       layout="${callsite}" />
      <parameter name="p_exception"      layout="${exception:tostring}" />
    </target>

    <target name="file" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/Logs/${shortdate}.log" >

    </target>

    <target xsi:type="Mail" name="sendMail"
          subject="Application Error Log"
          to=""
          from="vedangtestmail@gmail.com"
          body="${longdate}|${message}"
          enableSsl="true"
          useSystemNetMailSettings="false"
          smtpAuthentication="Basic"
          encoding="UTF-8"
          smtpServer="smtp.gmail.com"
          smtpUserName="vedangtestmail@gmail.com"
          smtpPassword="vedang@2524"
          smtpPort="587">
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="db" />
    <logger name="*" minlevel="Error" writeTo="file" />
    <!--<logger name="*" minlevel="Error" writeTo="sendMail" />-->
  </rules>
</nlog>
