<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <!--<add key="BaseURL" value="/."/>-->
    <!--InternalAuditN-->
    <add key="BaseURL" value="/testingcomplaint/"/>
    <add key="FolderPath" value="Files/"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled"/>
  </appSettings>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-XSS-Protection" value="1"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="152428"/>
        <verbs>
          <add verb="TRACE" allowed="false"/>
          <add verb="OPTIONS" allowed="false"/>
          <add verb="HEAD" allowed="false"/>
        </verbs>
      </requestFiltering>
      <!--<access sslFlags="Ssl, SslNegotiateCert" />-->
    </security>
    <staticContent>
      <clientCache cacheControlMode="DisableCache"/>
    </staticContent>
  </system.webServer>
  <connectionStrings>
	  <add name="con" connectionString="server=43.224.139.120;User Id=cwcnew;Persist Security Info=False;database=cwcnewtest;password=Yn956?ek" providerName="MySql.Data.MySqlClient" />

	  <!--<add name="con" connectionString="server=43.224.139.120;User Id=cwcnewtest1;Persist Security Info=False;database=cwcnewtest;password=72lu0g@E" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="con" connectionString="server=43.224.139.120;User Id=cwcnew;Persist Security Info=False;database=cwcnewtest;password=Yn956?ek" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="con" connectionString="server=43.224.139.120;User Id=cwcnew;Persist Security Info=False;database=cwcnewtest;password=Yn956?ek" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="con" connectionString="server=localhost;User Id=root;Persist Security Info=False;database=cwcnewtest;password=Google@123" providerName="MySql.Data.MySqlClient" />-->
    <!--<add name="dbcs" connectionString="Data Source=WIN-I2JG22N167J;User Id=sa;Password=Google@123; Database=CWC;Min Pool Size=0;Max Pool Size=200000;Pooling=true;" />-->
    <add name="SIDCUL_DBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-U4T0EHC0;initial catalog=SIDCUL_DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <!--<session-config>
    <cookie-config>
      <http-only>true</http-only>
    </cookie-config>
  </session-config>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="F2B86098F6CCD3716A6CF960D593509C367A53C8B53A67645A8E08498370774C0D62EC46F721BBDB64895D6C829A0627B1D8803E1409BB605739B2180FC98E7A" decryptionKey="5E220AA2D1D112C9075B540CE51504204868EC29E898BA2F222C0A8595C6A312" validation="SHA1" decryption="AES"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5" enableVersionHeader="false"/>
    <!--<customErrors mode="On" defaultRedirect="http://49.50.87.108:8080/homepage" />-->
    <!-- <customErrors mode="On" defaultRedirect="~/error">
      <error statusCode="404" redirect="~/error/" />
      <error statusCode="500" redirect="~/error" />
    </customErrors>-->
    <httpCookies httpOnlyCookies="true" requireSSL="false"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache30Seconds" duration="1" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <!--<httpCookies httpOnlyCookies="true" requireSSL="true" />-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<httpCookies sameSite="[Strict|Lax|None|Unspecified]" requireSSL="[true|false]" />-->
</configuration>